<footer class="page-footer font-small mdb-color pt-4 bg-dark">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3 bg-dark">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold text-light bg-dark">Sentiment Analysis Apps</h6>
          <p class="text-light bg-dark">Aplikasi Berbasis web untuk mengetahui sentimen twitter secara otomatis.</p>
        </div>
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
        <hr class="w-100 clearfix d-md-none">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold text-light bg-dark">fav</h6>
          <p class="text-light bg-dark">
            <a href="/about">About</a>
          </p>
          <p class="text-light bg-dark">
            <a href="/contact">Contact</a>
          </p>
          <p class="text-light bg-dark">
            <a href="#" id="login">Help</a>
          </p>
        </div>
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold text-light">Contact</h6>
          <!-- <p class="text-light bg-dark">
            <i class="fas fa-home mr-3"></i> Jl. Cendana II A No.5</p> -->
          <p class="text-light bg-dark">
             rinobjm10@gmail.com</p>
          <p class="text-light bg-dark">
            +62 895-7008-01891</p>
          <p class="text-light bg-dark"  >
          +62 896-9159-8275</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Footer links -->
      <hr>
      <!-- Grid row -->
      <div class="row d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-7 col-lg-8">
          <!--Copyright-->
          <p class="text-center text-md-left text-light bg-dark">© 2021 Copyright:
            <a href="#">
              <strong> SentimentAnalysisApps.com</strong>
            </a>
          </p>
        </div>
        <!-- Grid column -->
        <div class="col-5 col-lg-4 ml-lg-0">
          </div> 
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </footer>